#install-btn {
    background: #0088cc; 
    background: -moz-linear-gradient(top,  #0088cc 0%, #0055cc 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0088cc), color-stop(100%,#0055cc)); 
    background: -webkit-linear-gradient(top,  #0088cc 0%,#0055cc 100%); 
    background: -o-linear-gradient(top,  #0088cc 0%,#0055cc 100%); 
    background: -ms-linear-gradient(top,  #0088cc 0%,#0055cc 100%); 
    background: linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0055cc',GradientType=0 ); 
    text-align: center;
    font-size: 200%;
    margin: 1em auto;
    display: block;
    padding: .5em;
    color: white;
    width: 10em;
    max-width: 80%;
    line-height: 1.2em;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  color: #aaaaaa;
}
.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list ul li {
  margin: 0;
  padding: 1em .5em;
  border-top: 1px solid grey;
  cursor: pointer;
}
.anim-background {
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10000;
}
x-view,
x-listview {
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
x-view > header,
x-listview > header,
x-view > footer,
x-listview > footer {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(top, #c66a00, #b54d17);
  background: -o-linear-gradient(top, #c66a00, #b54d17);
  background: -ms-linear-gradient(top, #c66a00, #b54d17);
  background: -moz-linear-gradient(top, #c66a00, #b54d17);
  background: -webkit-linear-gradient(top, #c66a00, #b54d17);
  border-bottom: 1px solid #933212;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  color: white;
  height: 2em;
  padding: .5em 0;
}
x-view > header .navitems,
x-listview > header .navitems {
  height: 2em;
  float: right;
}
x-view > header .navitems.left,
x-listview > header .navitems.left {
  top: 0;
  left: 0;
  float: left;
}
x-view > header .navitems button,
x-listview > header .navitems button,
x-view > footer button,
x-listview > footer button {
  height: 100%;
  margin-right: .5em;
  margin-left: 0;
  font-size: .75em;
  border: 0;
}
x-view > header .navitems.left button,
x-listview > header .navitems.left button {
  margin-left: .5em;
  margin-right: 0;
}
x-view > header h1,
x-listview > header h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 40pt;
  text-align: center;
}
x-view > ._contents,
x-listview > ._contents {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
x-listview > ._contents > .contents {
  padding: 0;
}
._list li.highlighted {
  background-color: #99bbdd;
}
@keyframes slideIn {
  
}
@font-face {  
  font-family: 'MozTTLight';  
  src: url(fonts/MozTT%20Light.ttf) format("truetype");  
}  
* {
  overflow: hidden;
}
html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'MozTTLight', Verdana, sans-serif;
}
h1 {
    font: 2.2rem/4.8rem "Open Sans", Sans-serif;
}
x-view .contents {
    padding: 1em;
}
x-view.foo {
    background-color: #dddddd;
}
x-view .contents h1 {
    margin: 0;
}
x-listview.list li:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/glyphicons-halflings.png) no-repeat -95px -2px;
    margin-right: 5px;
    vertical-align: middle;
}
body
{
    font-size: 100%;
    overflow: hidden;
}
.home button {
    vertical-align: top;
    width: 25%;
    padding: 0;
    height: 20%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    float: left;
    display: inline-block;
    font: bold 120% "helvetica neue", helvetica, arial, sans-serif;
    background: #4162a8;
    background-clip: padding-box;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    border-radius: 8px;
    border-right: 1px solid #1f2d4d;
    border-top: 1px solid #38538c;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 0 12px 0;
    text-align: center;
    text-shadow: 0px -1px 1px #1e2d4d;
}
.punch.red {
    background:#A84141;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #4D1F1F;
    border-right: 1px solid #4D1F1F;
    border-top: #8C3838;
    box-shadow: inset 0 1px 10px 1px #EE5C5C, 0px 1px 0 #4D1D1D, 0 6px 0px #531F1F, 0 8px 4px 1px #111111;
    text-shadow: 0px -1px 1px #4D1E1E;
    animation-name: redPulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.punch.red:hover, .punch.red:active {
    box-shadow: inset 0 0px 20px 1px #FF8787, 0px 1px 0 #4D1D1D, 0 6px 0px #531F1F, 0 8px 4px 1px #111111;
    cursor: pointer;
}
button.punch:hover, button.punch:active
{
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer;
}
@keyframes redPulse {
from {
    background-color: #A84141;
    box-shadow: 0 0 9px #333;
}
50% {
    background-color: #BD0909;
    box-shadow: 0 0 20px #BD0909;
}
to {
    background-color: #A84141;
    box-shadow: 0 0 9px #333;
}
}
#screen_choose {
  display: none;
}
#screen_about {
  display: none;
}
#screen_timers,
#screen_about,
#screen_choose {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.home, .config {
    height: (100% - 32px);
    background: radial-gradient(black 15%, transparent 16%) 0 0,
 radial-gradient(black 15%, transparent 16%) 8px 8px,
 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
}
x-view.app .contents {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.timer-footer {
    background: -moz-linear-gradient(center top , rgb(50, 50, 50), rgb(25, 25, 25)) repeat scroll 0% 0% transparent;
    height: 32px;
}
.config {
    
}
#time-label {
    text-align: center;
    font-size: 500%;
    color: white;
}
.num {
    width: 30%;
    font-size: 300%;
}
.numb {
    width: 30%;
    font-size: 200%;
}
