html, body
{
    height: 100%;
    width: 100%;
}
html,body
{
    margin: 0;
    padding: 0;
}
*
{
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}
body
{
    background: radial-gradient(black 15%, transparent 16%) 0 0,
 radial-gradient(black 15%, transparent 16%) 8px 8px,
 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
 radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    font-size: 100%;
}
button.punch
{
    background: #4162a8;
    background-clip: padding-box;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    border-radius: 8px;
    border-right: 1px solid #1f2d4d;
    border-top: 1px solid #38538c;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    font: bold 1em/1 "helvetica neue", helvetica, arial, sans-serif;
    height: 20%;
    margin-bottom: 10px;
    padding: 10px 0 12px 0;
    position: absolute;
    text-align: center;
    text-shadow: 0px -1px 1px #1e2d4d;
    width: 90%;
}
.punch.red {
    background:#A84141;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #4D1F1F;
    border-right: 1px solid #4D1F1F;
    border-top: #8C3838;
    box-shadow: inset 0 1px 10px 1px #EE5C5C, 0px 1px 0 #4D1D1D, 0 6px 0px #531F1F, 0 8px 4px 1px #111111;
    text-shadow: 0px -1px 1px #4D1E1E;
    animation-name: redPulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.punch.red:hover, .punch.red:active {
    box-shadow: inset 0 0px 20px 1px #FF8787, 0px 1px 0 #4D1D1D, 0 6px 0px #531F1F, 0 8px 4px 1px #111111;
    cursor: pointer;
}
button.punch:hover, button.punch:active
{
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer;
}
li button
{
    height: 20%;
    width: 20%;
}
@keyframes redPulse {
from {
    background-color: #A84141;
    box-shadow: 0 0 9px #333;
}
50% {
    background-color: #BD0909;
    box-shadow: 0 0 20px #BD0909;
}
to {
    background-color: #A84141;
    box-shadow: 0 0 9px #333;
}
}
